<section class="container">
    <h1>Terms and conditions</h1>
    <div>
        <p>NOT A REAL PAGE JUST A STUB</p>
        <p>Things like these are supposed to be created together with a lawyer.</p>
        <p>(but if you ask me about this on the presentation you're legally obliged to pay me 30 000 EUR ok)</p>
        <p>(it's a joke ofc. but istg.)</p>

        <p>The good question would be something like "how do you plan to deal with scrapers?". It's an actual problem. There are solutions, but they are pretty not memory-friendly and may slow down the site significantly. Although if for whatever reason I end up working on a project like this it will be worth it to study it in depth!</p>
    </div>
</section>