@using ASPNET_CourseProject.Models.DTO
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model ASPNET_CourseProject.Models.Containers.FormView<UserProfileDTO>

@{
    Model.Entity.Username = HttpContextAccessor.HttpContext.Session.GetString("UserName");
}

<h1>Upload</h1>

@if (Model.Errors != null)
{
    <div class="alert alert-danger">
        <strong>A problem has been occurred while submitting your data.</strong>
        <ul>
            @for (int i = 0; i < Model.Errors.Count; i++)
            {
                <li>@Model.Errors[i]</li>
            }
        </ul>

    </div>
}

<div class="container form-container" style="max-width: 50vh">
    @using (Html.BeginForm("EditProfile", "User", FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
    {
        <div class="form-floating form-outline flex-fill mb-3">
            @Html.TextAreaFor(Model => Model.Entity.Description, htmlAttributes: new { @class = "form-control", id = "descr", placeholder = "Description", rows = 3 })
            @Html.LabelFor(Model => Model.Entity.Description, htmlAttributes: new { @class = "form-label", @for = "descr" })
        </div>
        @Html.HiddenFor(Model => Model.Entity.Username)

        <button type="submit" class="btn btn-primary w-100 mb-4">Submit</button>
    }
</div>