@using ASPNET_CourseProject.Models.DTO
@using ASPNET_CourseProject.Helpers.Html

@model ASPNET_CourseProject.Models.Containers.Page<ArtDTO>

<h1 class="mb-4">Latest submissions</h1>

<div class="gallery-container">
    @if (Model.Items.Count > 0)
    {
        @Html.ArtGallery(Model.Items)
    }
    else
    {
        <p>Oops! No arts yet.</p>
    }
</div>

 @if (Model.MaxPage > 0) 
 { 
     @Html.PaginationSimple(Model.CurPage, Model.MaxPage) 
 } 
